.tweet-container {
  margin-top: 28px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  color: $black;
  &:hover {
    footer .icons {
      display: block;
      a {
        color: inherit;
        &:hover {
          color: $myblue;
          border-color: $mypink;
        }
      }
    }
  }
}

.tweet-container:hover {
  border-color: $medpurple;
}

.tweet-container hr {
  border-style: solid;
  border-width: 0.5px;
  border-color: #eee;
}

.tweet-container header {
  display: flex;
  flex-direction: row;
  background-color: $lightpink;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.tweet-container .avatar {
  border-style: 1px;
  border-radius: 50%;
  margin-right: 5px;
}

.tweet-container .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 5px;
  width: 100%;
  font-size: 15px;
}

.tweet-container h3 {
  margin: 0;
  padding-left: 5px;
}

.tweet-container header .username {
  font-size: 1.1em;
  font-weight: bold;
}

.tweet-container .tweet-body {
  padding-left: 10px;
  font-size: 18px;
}

.tweet-container footer {
  padding-bottom: 8px;
}

.tweet-container footer .post-time {
  float: left;
  padding-left: 8px;
  font-size: 16px;
}

.tweet-container footer .icons {
  float: right;
  padding-right: 10px;
  display: none;
  font-size: 15px;
}

.tweet-container footer .icons i {
  padding-left: 5px;
}
