@import 'colors';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background: $lightpink;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

main {
  width: 35%;
  padding-top: 64px;
  padding-bottom: 140px;
  margin: auto;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  min-height: 100%;
}

.input-errors {
  display: inline-flex;
  color: red;
  font-weight: bold;
  padding-left: 8px;
}
