#nav-bar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: $blue;
  color: #ffffff;
  padding-left: 2em;
  padding-right: 2em;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  height: 60px;
  width: 60px;
  padding-top: 4px;
  color: $black;
}

#nav-bar .non-logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 18px;
}

#nav-bar .non-logo-nav .compose-btn {
  font-weight: bold;
  max-height: 70%;
  width: 100px;
  margin-top: 8px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #ffffff;
  color: $black;
  font-size: 16px;
}

#nav-bar .non-logo-nav .compose-btn:hover {
  background-color: #eee
}

#nav-bar .non-logo-nav .header {
  float: left;
  font-size: 1.3em;
  font-weight: 700;
  /* line-height: 25px; */
  padding-top: 18px;
}
