.tweet-container {
  margin-top: 50px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

.tweet-container:hover {
  border-color: black;
}

.tweet-container hr {
  border-style: solid;
  border-width: 0.5px;
  border-color: #eee;
}

.tweet-container header {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tweet-container h3 {
  margin: auto;
  padding-bottom: 20px;
}
/* relative header
add height for header */

.tweet-container header .username {
  font-size: 1em;
  color: grey;
  margin-left: 50px;
  margin-top: 15px;
  padding-right: 10px;

}

.tweet-container .tweet-body {
  padding-left: 10px;
}

.tweet-container footer .post-time {
  float: left;
  padding-left: 8px;
}

.tweet-container footer .icons {
  float: right;
  padding-right: 10px;
}

.tweet-container footer .icons i {
  padding-left: 5px;
}

.avatar {
  max-height: 70px;
  max-width: 70px;
  padding: 5px;
}
