.tweet-container {
  margin-top: 50px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

.tweet-container:hover {
  border-color: gold;
}

.tweet-container hr {
  border-style: solid;
  border-width: 0.5px;
  border-color: #eee;
}

.tweet-container header {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.tweet-container .avatar {
  border-style: 1px;
  border-radius: 12px;
  margin-right: 5px;
}

.tweet-container .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 5px;
  width: 100%;
}

.tweet-container h3 {
  margin: 0;
  padding-left: 5px;
}
/* relative header
add height for header */

.tweet-container header .username {
  font-size: 1em;
  color: grey;
}

.tweet-container .tweet-body {
  padding-left: 10px;
}

.tweet-container footer {
  padding-bottom: 8px;
}

.tweet-container footer .post-time {
  float: left;
  padding-left: 8px;
}

.tweet-container footer .icons {
  float: right;
  padding-right: 10px;
}

.tweet-container footer .icons i {
  padding-left: 5px;
}
