#nav-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  top: 0;
  z-index: 1;
}

#nav-bar .logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 1.1em;
  font-weight: 700;
  /* line-height: 25px; */
  padding-top: 12px;
}
