.new-tweet {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 8px;
}

.new-tweet input[type="submit"] {

}

.new-tweet textarea[name="text"] {
  min-width: 100%;
  padding: 8px;
  align: center;
}

h2 {
  margin: 0;
  padding-top: 2px;
}

#divider {
  color: black;
  border-width: thin;
  border-style: solid;
  margin-top: 2px;
}

#new-tweet {
  align-content: center;
}

.counter {
  float: right;
  margin-right: 20px;
}

.container {
  border-radius: 5px 5px 5px 5px ;
}
