.new-tweet {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 8px;
  background-color: #eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 450px;
  margin: auto;
}

.new-tweet textarea[name="text"] {
  min-width: 100%;
  padding: 8px;
  align: center;
}

h2 {
  margin: 0;
  padding-top: 2px;
}

#divider {
  color: black;
  border-width: thin;
  border-style: solid;
  margin-top: 2px;
}

#new-tweet {
  align-content: center;
}

.counter {
  float: right;
  margin-right: 20px;
}

.container {
  min-height: 800px;
  width: 50%;
  position: relative;
}
